<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">
                <img src="img/DCADLogo.png" alt="Logo" class="img-fluid" style="max-width: 200px;">
                DCAD DCAD Property Map
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item text-center">
                        <a class="nav-link" id="mapToolsToggle">
                            <i class="bi bi-tools icon-sidebar"></i><br>
                            <span style="color: #e8e8e8;">Map Tools</span>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">
                            <i class="bi bi-list icon-sidebar"></i><br>
                            <span style="color: #e8e8e8;">Menu</span>
                        </a>
                    </li>

                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">
                            <i class="bi bi-search icon-sidebar"></i><br>
                            <span style="color: #e8e8e8;">Search</span>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">
                            <i class="bi bi-telephone icon-sidebar"></i><br>
                            <span style="color: #e8e8e8;">Contact</span>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">
                            <i class="bi bi-three-dots-vertical icon-sidebar"></i><br>
                            <span style="color: #e8e8e8;">More</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
