@page "/"
@inject IJSRuntime JS

<NavMenu />

<div class="container-fluid">
    <div class="row">
        <Sidebar />
        <div class="col p-0" id="map-container" style="margin-left: 300px;">
            <div id="map"></div>
            <div id="mapToolsPanel">
                <ul class="nav flex-column">
                    <li class="nav-item text-center">
                        <a class="nav-link" id="legendToggle">
                            <i class="bi bi-list icon-sidebar"></i><br>
                            <span style="color: #fff;">Legend</span>
                        </a>
                    </li>
                    <!-- Add other map tool options here -->
                </ul>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeMap");
        }
    }
}
